:root {

    --bg: #FFFBE9;
    --basic: #414141;
    --dark: #683E82;
    --light: #FFE500;
    --fire: #C34C4C;
    --water: #449FC7;
    --half-transparent: #c3c3c381;
    --earth: #8D6E3E;
    --cocoa: #AF9E85;
    --gray: #C3C3C3;

}

@font-face {
    font-family: JacquesFrancois-Regular;
    src: url(./Jacques_Francois/JacquesFrancois-Regular.woff2);
}

.rotateImg45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

h1 {
    text-transform: uppercase;
    font-size: 20pt;
    text-align: center;
    color: var(--basic);
}

h2 {
    text-transform: capitalize;
    font-size: 18pt;
    color: var(--dark);
    margin: 10px;
}

body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;

}

header {
    background-color: var(--basic);
    width: auto;
    height: 120px;
    margin: 0;
    border: 0;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.header {
    margin: 0 auto 0 auto;
    background-color: var(--half-transparent);
    border-radius: 20px 20px 0 0;
    height: 65px;
    width: 560px;

    /* font-size: 40pt; */
    text-align: center;
    position: relative;
    top: 35px;
}


.header1 {
    height: 65px;
    border-radius: 20px 20px 0 0;
    text-transform: uppercase;
    color: white;
    font-size: 40pt;
    padding: 20px 10px 0 10px;
}

.header2 {
    height: 45px;

    border-radius: 0 0 20px 20px;
    text-transform: lowercase;
    color: var(--basic);
    font-size: 30pt;
    padding: 10px 10px 10px 10px;
}

.homeButt {
    position: absolute;
    width: 140x;
    height: 140px;
    left: -72px;
    top: 50px;

}

.homeButt:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* main */

main {
    width: 1000px;
    height: fit-content;
    margin: 0 auto auto auto;
    padding: 100px 20px 0 20px;
    background-color: white;

}

.cardsSection {
    margin: 0 auto 0 auto;
    display: inline-block;
    width: 876px;
    height: fit-content;
    padding: 0 62px 50px 62px;
}

/* assets */

.card {
    float: left;
    margin: 10px;
    background-color: var(--basic);
    border-radius: 20px;
    width: 155px;
    height: 250px;

}

.cardName {
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 5px 0 0 0;
    height: fit-content;
}

/* .cardImg {
    border-radius: 15px 15px 0 0;
    outline-style: solid;
    outline-offset: -3px;
    outline-color: var(--basic);
    
} */

.illustration {
    height: 110px;
    width: 155px;
    background-repeat: no-repeat;
    border-radius: 14px 14px 0 0;
    outline-style: solid;
    outline-offset: -3px;
    outline-color: var(--basic);
}

.knight {
    background-image: url(../img/illustrations/knight.png);
}

.girgas {
    background-image: url(../img/illustrations/girgas.png);
}

.rating {
    /* change this to normal script later */
    height: 20px;
    width: 155px;
    margin-left: 5px;
    margin-top: -4px;


}

.oneStar {
    background-image: url(../img/rating/RATING=1.png);
    background-repeat: no-repeat;


}

.twoStars {
    background-image: url(../img/rating/RATING=2.png);
    background-repeat: no-repeat;
}

.threeStars {
    background-image: url(../img/rating/RATING=3.png);
    background-repeat: no-repeat;
}

.fourStars {
    background-image: url(../img/rating/RATING=4.png);
    background-repeat: no-repeat;
}

.fiveStars {
    background-image: url(../img/rating/RATING=5.png);
    background-repeat: no-repeat;
}


.elements {
    align-self: center;
    border-radius: 5px;
    outline: var(--basic);
    outline-offset: -1px;
    outline-width: 2px;
    outline-style: solid;
    width: 40px;
    height: 40px;
    padding: auto;
    float: right;
    position: relative;
    top: -9px;
    right: 15px;
}

.basic {
    background-color: var(--basic);
    background-image: url(../img/elements/basic.png);
    background-blend-mode: color-burn;
}

.dark {
    background-color: var(--dark);
    background-image: url(../img/elements/dark.png);
    background-blend-mode: color-burn;
}

.light {
    background-color: var(--light);
    background-image: url(../img/elements/light.png);
    background-blend-mode: multiply;
}

.fire {
    background-color: var(--fire);
    background-image: url(../img/elements/fire.png);
    background-blend-mode: multiply;
}

.water {
    background-color: var(--water);
    background-image: url(../img/elements/water.png);
    background-blend-mode: multiply;
}

.earth {
    background-color: var(--earth);
    background-image: url(../img/elements/earth.png);
    background-blend-mode: multiply;
}

.cardDescription {
    height: 80px;
    border-radius: 0 0 14px 14px;
    outline-color: var(--basic);
    outline-offset: -3px;
    outline-style: solid;
    background-color: var(--bg);
    padding: 8px 5px 0 8px;
    text-align: left;
    text-transform: capitalize;
    color: var(--basic);
}

.chClass {
    margin-left: 1px;
}

.chainSkills {
    width: 143girpx;
    display: inline-block;
}

.skill {
    width: fit-content;
    height: 20px;
    padding: 0px 4px 0 4px;
    border-radius: 5px;
    border-color: var(--basic);
    border-style: dotted;
    border-width: 1px;
    font-size: 12pt;
    text-transform: lowercase;
}

.float.first {
    float: right;
}

.float.second {
    float:left;
}

.arrow {
    position: relative;
    top: 3px;

}